.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .rssLogo {
    width: 50px;
    height: 50px;
    background-image: url('/rsschoolLogo.jpg');
    background-size: cover;
  }
}
