@import '/src/styles/global';

$filter-reset-background-color: crimson;
$filter-apply-background-color: green;

.productsFilters {
  $text-font-size: 0.8em;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  padding: 10px;

  font-size: $text-font-size;
  font-weight: bold;

  background-color: var(--secondary-background-color);

  .filteredCount {
    user-select: none;

    display: flex;
    flex-flow: row-reverse wrap-reverse;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .filterFieldForm {
    display: flex;
    gap: 10px;
    align-items: center;

    .submitFilterBtn,
    .resetFilterBtn {
      min-width: 100px;
      padding: 5px 10px;
    }

    .resetFilterBtn {
      background-color: $filter-reset-background-color;
    }

    .submitFilterBtn {
      background-color: $filter-apply-background-color;
    }

    @media (width <= $catalog-medium-width) {
      flex-direction: column;
    }
  }

  .icon {
    align-self: center;
    height: 23px;
  }

  .filterField {
    $select-width: 90px;

    display: flex;
    gap: 10px;
    align-items: center;

    .priceInput {
      width: 100px;
      padding: 5px 10px;
      font-size: $text-font-size;
      border-color: var(--form-checkbox-color);

      &:placeholder-shown {
        border-color: var(--input-border-color);
      }
    }

    .filterFieldTitle {
      cursor: pointer;
      user-select: none;

      position: relative;

      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: space-between;

      min-width: $select-width;
      padding: 5px 10px;

      font-size: $text-font-size;

      background-color: var(--background-color);
      border: 2px solid var(--input-border-color);
      border-radius: 5px;

      &:has(:checked) {
        border-color: var(--form-checkbox-color);
      }

      .selectIcon {
        height: 10px;
        transition: rotate 0.2s;
      }

      .multipleSelect {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: -2px;

        display: none;
        flex-direction: column;

        width: $select-width;
        padding: 10px 0 10px 5px;

        font-weight: bold;

        background-color: var(--background-color);
        border: 2px solid var(--input-border-color);
        border-radius: 5px;

        &:has(:checked) {
          border-color: var(--form-checkbox-color);
        }

        .multipleSelectLabel {
          user-select: none;

          display: flex;
          flex-direction: row-reverse;
          gap: 5px;
          align-items: center;
          justify-content: flex-end;

          .selectCheckbox {
            width: 13px;
            height: 20px;
          }
        }
      }
    }

    &.show {
      .filterFieldTitle {
        .icon {
          rotate: 180deg;
        }

        .multipleSelect {
          display: flex;
        }
      }
    }

    .sortField {
      cursor: pointer;
      user-select: none;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      min-width: $select-width;
      padding: 5px 0;

      font-size: $text-font-size;
      text-align: center;

      background-color: var(--background-color);
      border: 2px solid var(--input-border-color);
      border-radius: 5px;

      &:has(.asc, .desc) {
        border-color: var(--form-checkbox-color);
      }

      .arrowIcon {
        position: absolute;
        left: 0;
        rotate: 180deg;

        display: none;

        transition: rotate 0.3s;

        &.asc {
          display: block;
        }

        &.desc {
          rotate: 360deg;
          display: block;
        }
      }
    }

    .searchInput {
      padding: 5px 10px;
      font-size: $text-font-size;
    }
  }

  @media (width <= $huge-width) {
    flex-direction: column;
  }
}
