.header {
  height: 80px;
  font-size: 1.5rem;
  font-weight: 600;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  color: var(--base-text-color);
}

.titleWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
}

.navList {
  display: flex;
  gap: 30px;
  align-items: center;

  height: 100%;

  text-align: center;

  li {
    width: 100%;
  }

  li:nth-last-child(2) {
    margin-left: 40px;
  }
}

.listItem {
  display: inline-block;

  padding: 10px;

  line-height: 30px;

  border-radius: 50%;

  transition: background-color 0.3s ease-in;

  &.active {
    text-decoration: underline;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

.sidePanel {
  display: flex;
}

.burger {
  cursor: pointer;

  position: relative;
  z-index: 120;

  display: none;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 8px;

  width: 45px;
  height: 24px;
}

.burgerElem,
.burgerElem:nth-child(2)::after {
  content: '';

  display: block;

  width: 100%;
  height: 2px;

  background-color: black;

  transition:
    transform 0.3s linear,
    margin 0.3s linear,
    opacity 0.3s ease-out;
}

.burgerElem:nth-child(2)::after {
  position: absolute;
}

.mobileMenu ~ .sidePanel .burger .burgerElem:nth-child(1),
.mobileMenu ~ .sidePanel .burger .burgerElem:nth-child(3) {
  opacity: 0;
}

.mobileMenu ~ .sidePanel .burger .burgerElem:nth-child(2) {
  transform: rotate(-45deg);
}

.mobileMenu ~ .sidePanel .burger .burgerElem:nth-child(2)::after {
  transform: rotate(90deg);
}

@media (width <= 1024px) {
  .title {
    font-size: 1.4rem;
  }

  .nav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -260px;

    width: 100%;
    max-width: 260px;
    height: auto;
    padding: 110px 40px 30px;

    background-color: var(--secondary-color);

    transition: right 0.5s ease-in-out;
  }

  .nav.mobileMenu {
    right: 0;
  }

  .navList {
    flex-direction: column;
    width: 100%;

    li:nth-last-child(2) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .listItem {
    gap: 15px;
    width: 100%;
    border-radius: unset;
  }

  .burger {
    display: flex;
  }
}
