.header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;

  .logo {
    font-size: 1.5em;

    @media (width <= 550px) {
      font-size: 1.2em;
    }
  }

  .navLinksWrapper {
    display: flex;
    gap: 30px;

    & > * {
      transition: text-decoration 0.2s;

      &::after {
        content: '';

        display: block;

        width: 0%;
        height: 3px;

        background-color: var(--base-text-color);

        transition: width 0.4s;
      }

      &.active::after {
        width: 100%;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover::after {
          width: 100%;
        }
      }

      @media (width <= 550px) {
        font-size: 1em;
      }
    }
  }

  .navIcons {
    display: flex;
    gap: 10px;
  }
}
