label {
  cursor: pointer;
  display: block;
  font-weight: bold;
}

input {
  display: block;

  width: 100%;
  padding: 10px;

  color: inherit;

  border: 2px solid var(--input-border-color);
  border-radius: 8px;
  outline: none;

  &:focus,
  &:active {
    border: 2px solid var(--input-focus-border-color);
  }

  &[type='date'] {
    cursor: text;
  }
}

button {
  cursor: pointer;

  display: block;

  width: 100%;
  padding: 10px;

  font-weight: bold;
  color: var(--button-text-color);

  background-color: rgb(0 0 0 / 90%);
  border: unset;
  border-radius: 7px;
  box-shadow: 1px 1px 2px black;

  transition:
    background-color 0.3s ease-in-out,
    transform 0.1s ease-in;

  &:disabled {
    pointer-events: none;
    filter: grayscale(1);
  }

  &:active {
    transform: translateY(2px);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(0 0 0 / 75%);
    }
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  color: var(--base-text-color);
  text-decoration: none;

  transition: text-decoration 0.2s;

  &::after {
    content: '';

    display: block;

    width: 0%;
    height: 3px;

    background-color: var(--base-text-color);

    transition: width 0.4s ease-in-out;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::after {
      width: 100%;
    }
  }
}

i {
  font-size: 1.5em;
  font-style: normal;
}
