:root {
  --base-color: white;
  --header-color: rgb(249 241 231);
  --card-color: rgb(222 223 225);
  --valid-color: limegreen;
  --invalid-color: red;
  --border-color: black;
  --box-shadow-color: rgb(0 0 0 / 70%);
  --box-shadow-hover-color: rgb(0 0 0 / 90%);
  --base-text-color: black;
  --disabled-color: rgb(184 184 184);
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Poppins;
  src: url('src/fonts/Poppins-Regular.ttf');
}

body {
  margin: 0;
  color: var(--base-text-color);

  label {
    font-size: 1.2em;
    font-weight: bold;
  }

  input {
    padding: 10px;

    font-size: 1em;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--box-shadow-color);

    &:focus {
      outline: 2px solid var(--border-color);
    }

    &:disabled {
      background-color: var(--disabled-color);
    }
  }

  button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    padding: 10px;

    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 3px var(--box-shadow-color);

    transition:
      box-shadow 0.2s,
      background-color 0.2s;

    &:disabled,
    &:active {
      box-shadow: none;
    }

    &:disabled {
      cursor: initial;
      background-color: var(--disabled-color);
    }

    @media screen and (hover: hover) {
      &:hover:not(:disabled, :active) {
        box-shadow: 1px 1px 5px var(--box-shadow-hover-color);
      }
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  i {
    font-style: normal;
  }

  a {
    font-size: 1.2em;
    font-weight: bold;
  }
}
