.modal {
  z-index: 100;

  .modalWindow {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    max-height: 90%;
    padding: 20px;

    border-radius: 10px;
  }
}
