.loader {
  z-index: 1000;

  .loaderIcon {
    --loader-size: 60px;
    width: var(--loader-size);
    height: var(--loader-size);
    z-index: 100;
    border-right-color: transparent;
    border-radius: 50%;
    animation: loaderRotate 1.2s linear infinite;
    border-radius: 50%;
  }
}

@keyframes loaderRotate {
  100% {
    rotate: 360deg;
  }
}
