.loginPage {
  width: 100%;
  padding: 40px 20px;
  font-size: 36px;
}

.loginFormWrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media (width <= 600px) {
  .loginPage {
    padding: 20px 0;
    font-size: 30px;
  }
}
