.productFilter {
  $text-font-size: 0.8em;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;

  height: 109px;
  margin-top: -40px;
  padding: 10px;

  font-weight: bold;

  background-color: var(--secondary-background-color);

  .filterFieldForm {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;

    .filterSubmitBtn {
      font-size: $text-font-size;
    }
  }

  .icon {
    height: 30px;
  }

  .filterField {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;

    .priceInput {
      width: 80px;
      font-size: $text-font-size;
    }

    .multipleSelect {
      scrollbar-width: thin;

      overflow-y: auto;

      height: 100%;
      padding: 5px 10px;

      font-size: $text-font-size;
      font-weight: bold;

      background-color: var(--background-color);
      border: 2px solid var(--input-border-color);
      border-radius: 5px;

      &:has(:checked) {
        border-color: var(--input-focus-border-color);
      }

      .multipleSelectLabel {
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
        justify-content: flex-end;

        .selectCheckbox {
          width: 15px;
        }
      }
    }

    .sortField {
      cursor: pointer;
      user-select: none;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 100px;
      padding: 5px 0;

      font-size: $text-font-size;
      text-align: center;

      background-color: var(--background-color);
      border: 2px solid var(--input-border-color);
      border-radius: 10px;

      &:has(.asc, .desc) {
        border-color: var(--input-focus-border-color);
      }

      .arrowIcon {
        position: absolute;
        left: 0;
        rotate: 180deg;

        display: none;

        transition: rotate 0.3s;

        &.asc {
          display: block;
        }

        &.desc {
          rotate: 360deg;
          display: block;
        }
      }
    }

    .searchInput {
      font-size: $text-font-size;
    }
  }
}
