@import '/src/styles/global';

.productsFilters {
  $text-font-size: 0.8em;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;

  margin-top: -40px;
  padding: 10px;

  font-weight: bold;

  background-color: var(--secondary-background-color);

  .filteredCount {
    user-select: none;

    display: flex;
    flex-flow: row-reverse wrap-reverse;
    gap: 10px;
    align-items: center;
    justify-content: center;

    @media (width <= $middle-width) {
      cursor: pointer;

      &:has(~ .show) {
        color: var(--form-checkbox-color);
      }
    }
  }

  .filterFieldForm {
    display: flex;
    gap: 20px;
    align-items: center;

    .filterSubmitBtn {
      font-size: $text-font-size;
    }

    @media (width <= $middle-width) {
      display: none;
      flex-direction: column;
      align-items: flex-start;

      &.show {
        display: flex;
      }

      .filterFieldTitle {
        width: 80px;
      }
    }
  }

  .icon {
    align-self: center;
    height: 30px;

    @media (width <= $medium-width) {
      height: 25px;
    }
  }

  .filterField {
    display: flex;
    gap: 10px;
    align-items: center;

    .priceInput {
      width: 100px;
      font-size: $text-font-size;
      border-color: var(--form-checkbox-color);

      &:placeholder-shown {
        border-color: var(--input-border-color);
      }
    }

    .multipleSelect {
      scrollbar-width: thin;

      overflow-y: auto;

      max-height: 89px;
      padding: 5px 10px;

      font-size: $text-font-size;
      font-weight: bold;

      background-color: var(--background-color);
      border: 2px solid var(--input-border-color);
      border-radius: 5px;

      &:has(:checked) {
        border-color: var(--form-checkbox-color);
      }

      .multipleSelectLabel {
        user-select: none;

        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
        align-items: center;
        justify-content: flex-end;

        .selectCheckbox {
          width: 15px;
          height: 25px;

          @media (width <= $medium-width) {
            width: 13px;
          }
        }
      }
    }

    .sortField {
      cursor: pointer;
      user-select: none;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 105px;
      padding: 5px 0;

      font-size: $text-font-size;
      text-align: center;

      background-color: var(--background-color);
      border: 2px solid var(--input-border-color);
      border-radius: 10px;

      &:has(.asc, .desc) {
        border-color: var(--form-checkbox-color);
      }

      .arrowIcon {
        position: absolute;
        left: 0;
        rotate: 180deg;

        display: none;

        transition: rotate 0.3s;

        &.asc {
          display: block;
        }

        &.desc {
          rotate: 360deg;
          display: block;
        }
      }

      @media (width <= $medium-width) {
        min-width: 90px;
      }
    }

    .searchInput {
      font-size: $text-font-size;
    }
  }

  @media (width <= $huge-width) {
    flex-direction: column;
  }

  @media (width <= $medium-width) {
    font-size: 0.8em;
  }
}
